* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: hsl(0, 0%, 96%);
}

.container {
    padding-top: 100px;
}

/* comment input */

.comment_form {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 50vw;
}

.comment_form textarea {
    resize: none;
    border-radius: 5px;
    outline: none;
    margin: 0 20px;
    width: 80%;
    padding: 10px;
    word-break: break-all;
    height: 50px;
}

.comment_form button {
    width: 100px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: hsl(238, 40%, 52%);
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

/* showCase */

.comment_container,
.reply_container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 800px;
    max-width: 50vw;
    word-break: break-all;
}

.vote {
    background-color: hsl(200, 23%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    padding: 12px;
    margin-right: 20px;
    border-radius: 5px;
    color: hsl(238, 40%, 52%);
    font-weight: bold;
}

/* with out width the number show above each other */
.vote p {
    width: 20px;
    text-align: center;
}

.vote_btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: hsl(239, 57%, 85%);
}

.inactive {
    color: hsl(238, 40%, 52%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.user_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 40px;
}

.name {
    margin: 0 20px;
    letter-spacing: 1px;
}

.comment_text,
.date,
.reply_text {
    color: rgb(105, 105, 105);
    line-height: 1.5rem;
}

.comment_text {
    width: 545px;
    max-width: 40vw;
}

.header_buutos_container{
    display: flex;
}

.header_buttons {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    color: hsl(238, 40%, 52%);
}

.header_buttons img {
    margin: 0 5px 0 20px;
}

/* reply */

.replies {
    display: flex;
    justify-content: center;
    margin-left: 110px;
}

.reply_line {
    width: 3px;
    margin: 0 35px 20px 0;
    background-color: rgba(170, 170, 170, 0.2);
}

.reply_text span {
    color: hsl(238, 40%, 52%);
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 20px;
}
